body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  grid-template-rows: auto auto; /* Two rows, height adjusts to content */
  gap: 20px; /* Space between grid items */
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center grid items vertically */
  width:100%; /* Grid occupies 80% of the page width */
  margin: 0 auto; /* Center the grid container on the page */
}

.image-line {
  display: flex;
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  grid-template-rows: auto auto; /* Two rows, height adjusts to content */
  gap: 2px; /* Space between grid items */
  justify-content: space-around; /* Center the grid horizontally */
  align-items: center; /* Center grid items vertically */
  width:100%; /* Grid occupies 80% of the page width */
  margin: 0 auto; /* Center the grid container on the page */
}
/* make fill 33% procent */
.image-single{
  width: 33%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}


.image-container {
  text-align: center; /* Center image and title within the container */
  cursor: pointer; /* Indicates clickable item */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.image-container:hover {
transform: scale(1.01); /* Slightly enlarge on hover */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}


.image-container img {
  width: 100%; /* Images fill the width of their containers */
  height: auto; /* Maintain aspect ratio */
}

.image-title {
  display: block;
  margin-top: 8px;
}

/* Style for normal button */
.btn {
  /* Your existing styles for .btn */
  background-color: #f0f0f0; /* Default background */
  color: black;
  /* Add other styles as needed */
}

/* Hover effect for all buttons */
.btn:hover {
  background-color: #6ca0f4 !important; /* Light blue on hover */
  color: white !important;
}

/* Active button style */
.btn.active {
  background-color: #336BB4; /* Active color */
  color: white;
}

/* Hover effect specifically for active button */
.btn.active:hover {
  background-color: #6ca0f4 !important; /* Light blue also for active button on hover */
  color: white !important;
}

.video-container {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.video-container video {
  width: 100%; /* Ensures the video fills the container */
  height: auto; /* Maintains the aspect ratio */
  border-radius: 10px; /* Rounded corners for the video */
}


.compare {
  position: relative;
  overflow: hidden;
}

.slider-video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.container_5images {
  display: flex;
  width: 100%;
  align-items: stretch; /* Ensure alignment at the same height */
}

.large-image {
  flex: 30%; /* Half of the container width for the large image */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Space between the large and small images */
}

.large-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.large-image .title {
  margin-bottom: 5px; /* Space between the title and the image */
}

.small-images-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  flex: 70%; /* Other half of the container width for the small images */
  gap: 5px; /* Space between small images */
}

.small-image {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content */
  justify-content: center;
}

.small-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.small-image .title {
  margin-bottom: 5px; /* Adjust as needed */
}

.column-title {
  grid-column: span 1; /* Each title spans one column */
  text-align: center; /* Center-align the text */
  margin-bottom: 0; /* Reduce space below the title */
}


/* Container for 6 images */
/* Container for images */
/* Container for images */
.container_6images {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-template-rows: auto auto; /* Two rows of automatic height */
  gap: 20px; /* Spacing between items */
  position: relative;
  width: 100%; /* Ensure the container takes full width */
}

/* Image container styling */
.column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally in the column */
  text-align: center; /* Center text */
}

/* Image styling */
.column img {
  width: 100%; /* Full width of the column */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the area of the container */
}

/* Row title styling (may need adjustment) */
.row-title {
  position: absolute;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-title.near-view {
  left: 0;
  top: 0;
  height: 50%; /* Adjust height to match the row height */
}

.row-title.far-view {
  left: 0;
  top: 50%;
  height: 50%;
}



.table-of-contents {
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  margin-left: 0;
}

.table-of-contents h3 {
  margin-bottom: 10px;
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
}

.table-of-contents ul {
  list-style-type: none;
  padding: 0;
}

.table-of-contents li {
  margin: 5px 0;
}

.table-of-contents a {
  text-decoration: none;
  color: #007bff;
}

.table-of-contents a:hover {
  text-decoration: underline;
}
